.subscribe-btn{
    background-color : rgb(187, 28, 28);
    color:white;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: top;
    transition: opacity 0.5s,
        padding-left 0.5s,
        padding-right 0.5s,
        margin-left 0.5s,
        margin-right 0.5s;
}

.subscribe-btn:hover{
    opacity: 0.8;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.subscribe-btn:active{
    opacity: 0.5;
}

.join-btn{
    background-color: white;
    color: rgb(0, 60, 255);
    border-color: rgb(0, 60, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.4s, 
        color 0.4s,
        padding-left 0.5s,
        padding-right 0.5s,
        margin-left 0.5s,
        margin-right 0.5s;
}

.join-btn:hover{
    color: white;
    background-color: rgb(0, 132, 255);
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.join-btn:active{
    opacity: 0.8;
}

.tweet-btn{
    color: white;
    background-color: rgb(0, 153, 255);
    border: none;
    height: 35px;
    width: 70px;
    margin-right: 10px;
    border-radius: 37px;
    font-weight: bold;
    vertical-align: top;
    transition: box-shadow 0.25s;
}

.tweet-btn:hover{
    box-shadow: 3px 5px 10px rgba(0,0,0,0.3);
}

.tweet-btn:active{
    margin-left: 2px;
    margin-top: 3px;
    box-shadow: 0 0 0;
}

.uber-btn{
    color: white;
    background-color: black;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    vertical-align: top;
    transition: opacity 0.3s,
        padding-left 1s,
        padding-right 1s,
        padding-top 1s,
        padding-bottom 1s;
}

.uber-btn:hover{
    opacity: 0.8;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.amazon-btn{
    color : black;
    background-color: rgb(252, 239, 66);
    border: none;
    height: 35px;
    width: 150px;
    border-radius: 20px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.amazon-btn:hover{
    background-color: rgb(255, 205, 39);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
